@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes up {
    from {
        transform: translateY(-300px);
    }
    to{
        transform: translateY(100px);
    }
}

header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    transition: background 2s ease;
}

.light-theme{
    background: url("./imagens/ceu.jpg");
}

.light-theme #icon{
    animation: spin 35s linear infinite;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 50%;
}

.light-theme #icon:hover{
    filter: drop-shadow(0 0 100px rgba(231, 115, 6, 0.7));
}

.light-theme #iconsun{
    transform: scale(0.8);
    background: linear-gradient(45deg, #FF4500, #FFD700);
    color: white;
}

.light-theme #iconmoon:hover{
    transform: scale(1.1);
    background: linear-gradient(90deg, #1E1E2F, #3A3A5A);
    color: white;
}

.light-theme #iconearth:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg, #2E8B57, #1E90FF);
    color: white;
}

h1 {
    color: white;
    font-size: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button{
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: transform 0.9s ease;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 10px;
}

.dark-theme {
    background: url("./imagens/terra.jfif");
}

.dark-theme #icon{
    animation: spin 100s linear infinite;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.dark-theme #icon:hover{
    filter: drop-shadow(0 0 50px white);
}

.dark-theme .btn{
    margin-top: 105px;
}

.dark-theme #iconsun{
    border-color: white;
    color: white;
}

.dark-theme #iconsun:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg, #FF4500, #FFD700);;
}

.dark-theme #iconmoon{
    border-color: white;
    color: white;
    transform: scale(0.8);
    background: linear-gradient(90deg, #1E1E2F, #3A3A5A);;
}

.dark-theme #iconearth{
    border-color: white;
    color: white;
}

.dark-theme #iconearth:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg, #2E8B57, #1E90FF);;
}

.universe-theme {
    background-color: black;
}

.universe-theme #icon {
    width: 1100px;
    height: 650px;
    margin: 5px 0;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    filter: drop-shadow(0 0 100px black);
}

.universe-theme #icon:hover{
    filter: drop-shadow(0 0 100px rgb(59, 21, 228));
}

.universe-theme #iconsun{
    color: white;
    border-color: white;
}

.universe-theme #iconsun:hover{
    transform: scale(0.8);
    background: linear-gradient(45deg, #FF4500, #FFD700);
}

.universe-theme #iconmoon{
    color:white;
    border-color: white;
}

.universe-theme #iconmoon:hover{
    transform: scale(0.8);
    background: linear-gradient(90deg, #1E1E2F, #3A3A5A);
}

.universe-theme #iconearth{
    color: white;
    border-color: white;
}

.universe-theme #iconearth:hover{
    transform: scale(0.8);
    background: linear-gradient(45deg, #2E8B57, #1E90FF);
}

.terra-theme {
    background: url('./imagens/noite.jpg') no-repeat;
}

.terra-theme #icon{
    cursor: pointer;
    border-radius: 50%;
    animation: spin 300s linear infinite;
}

.terra-theme #icon:hover{
    filter: drop-shadow(0 0 100px #137be2);
}

.terra-theme .btn{
    margin-top: 40px;
}

.terra-theme #iconearth {
    transform: scale(0.8);
    background: linear-gradient(45deg, #2E8B57, #1E90FF);
    color: white;
}

.terra-theme #iconsun{
    color: white;
    border-color: white;
}

.terra-theme #iconmoon{
    color: white;
    border-color: white;
}

.terra-theme #iconsun:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #FF4500, #FFD700);
}

.terra-theme #iconmoon:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, #1E1E2F, #3A3A5A);
    color: white;
}

.satelite {
    position: absolute;
    top: 500px;
    left: 400px;
    width: 50px;
    animation: up 25s infinite alternate;
    cursor: pointer;
}

.alien {
  position: absolute;
  top: 60px;
  width: 100px;
  animation: slide-left 5s linear forwards;
}

@keyframes slide-left {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}

