@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    transition: background 2s ease;
}

.light-theme{
    background: url("./imagens/ceu.jpg");
}

.light-theme #icon{
    animation: spin 35s linear infinite;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 50%;
}

.light-theme #icon:hover{
    filter: drop-shadow(0 0 100px rgba(231, 115, 6, 0.7));
}

.light-theme button{
    background-color: transparent;
}

.light-theme #iconsun{
    transform: scale(0.8);
    background-color: rgb(93, 173, 238);
}

.light-theme #iconmoon:hover{
    transform: scale(1.1);
    background-color: rgb(37, 37, 37);
    color: white;
}

h1 {
    color: white;
    font-size: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button{
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: transform 0.9s ease;
    cursor: pointer;
}

.dark-theme {
    background: url("./imagens/noite.jfif");
}

.dark-theme #icon{
    animation: spin 100s linear infinite;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.dark-theme #icon:hover{
    filter: drop-shadow(0 0 30px white);
}

.dark-theme .btn{
    margin-top: 105px;
}

.dark-theme button {
    background-color: transparent;
}

.dark-theme #iconsun{
    border-color: white;
    color: white;
    transform: scale(1.1);
}

.dark-theme #iconsun:hover{
    background-color: rgb(93, 173, 238);
}

.dark-theme #iconmoon{
    border-color: white;
    color: white;
    transform: scale(0.8);
    background-color: rgb(37, 37, 37);
}

p{
    font-size: 0.6em;
    margin-top: 65px;
    color: white;
}

.light-theme p {
    color: black;
}

.universe-theme {
    background: url("./imagens/universe.png") no-repeat;
}

.universe-theme #icon {
    width: 1100px;
    height: 650px;
    margin: 5px 0;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    filter: drop-shadow(0 0 100px rgb(59, 21, 228));
}

.universe-theme #icon:hover{
    filter: drop-shadow(0 0 100px white);
}

.terra-theme {
    background: url('./imagens/terra.jpg') no-repeat;
}

.planet-theme {
    background: url('./imagens/planet.png') no-repeat;
}

.planet-theme #iconmars{
    margin-top: 50px;
    margin-bottom: 50px;
}