header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-theme{
    background: url("./imagens/ceu.jpg");
}

h1 {
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button{
    width: 100px;
    height: 25px;
}

.dark-theme {
    background: url("./imagens/noite.jfif");
    color: white;
}

.universe-theme {
    background: url("./imagens/universe.jpg");
    color: white;
}

